* {
    xbg:    #2a2228;
    xfg:    #ffe0b2;
    x0:     #2e252a;
    x1:     #ca5f31;
    x2:     #b24b50;
    x3:     #df8038;
    x4:     #c3523f;
    x5:     #b54d3a;
    x6:     #a04547;
    x7:     #fff9c4;
    x8:     #ffcc80;
    x9:     #d77335;
    x10:    #fff59d;
    x11:    #212121;
    x12:    #4e342e;
    x13:    #e46548;
    x14:    #c05057;
    x15:    #3e2723;
}