[Desktop Entry]
Exec=lxqt-globalkeysd
Hidden=true
Name=Global Keyboard Shortcuts
Name[cs]=Celkové klávesové zkratky
Name[da]=Globale tastaturgenveje
Name[de]=Globale Kurzbefehle
Name[el]=Καθολικές συντομεύσεις πληκτρολογίου
Name[es]=Atajos globales de teclado
Name[es_VE]=Atajos de teclados de LXQt
Name[eu]=Teklatuko lasterbide orokorrak
Name[fi]=Yleiset pikanäppäimet
Name[fr]=Raccourcis clavier globaux
Name[it_IT]=Scorciatoie globali della tastiera
Name[ja]=グローバル・ショートカットキー
Name[lt]=Visuotiniai spartieji klavišai
Name[pl_PL]=Globalne Skróty Klawiszowe
Name[pt]=Teclas de atalho globais
Name[pt_BR]=Atalhos Globais Do Teclado
Name[ro_RO]=Taste rapide globale
Name[ru]=Глобальные горячих клавиш
Name[ru_RU]=Глобальные сочетания клавиш
Name[th_TH]=ปุ่มลัดหลักต่างๆ
Name[tr]=Genel Klavye Kısayolları
Name[uk]=Глобальні клавіатурні скорочення
Name[zh_CN]=全局键盘快捷键
Name[zh_TW]=全域鍵盤快捷鍵
OnlyShowIn=LXQt;
TryExec=lxqt-globalkeysd
Type=Application
X-LXQt-Module=true
